Repository govuk-one-login/authentication-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: tfupdate-lock, deprecation-checker

tfupdate-lock:
  name: Update terraform provider locks
  pass_filenames: false
  language: golang
  additional_dependencies:
  - github.com/minamijoyo/tfupdate@v0.8.5
  entry: tfupdate lock
  args:
  - --platform
  - linux_amd64
  - --platform
  - linux_arm64
  - --platform
  - darwin_amd64
  - --platform
  - darwin_arm64
  - --platform
  ...

deprecation-checker:
  name: Check deprecation policy
  entry: ./gradlew :deprecation-checker:checkDeprecations
  language: system
  pass_filenames: false

BAU: Bump junit version
  gradle/libs.versions.toml
Due: none

BAU: Fix incorrect AuthTime tests
  oidc-api/src/test/java/uk/gov/di/authentication/oidc/lambda/AuthenticationCallbackHandlerTest.java
Due: deprecation-checker

BAU: Fix test
  oidc-api/src/test/java/uk/gov/di/authentication/oidc/lambda/AuthenticationCallbackHandlerTest.java
Due: deprecation-checker

BAU: Fix whitespace
  ci/stack-orchestration/deploy-cloudfront.sh
Due: none

ATO-2525: Add ability to deploy alternative hosted zone
  ci/stack-orchestration/deploy-dev.sh
Due: none

ATO-2525: Add alternative domain params to cloudfront script
  ci/stack-orchestration/deploy-cloudfront.sh
Due: none

BAU: Use AWS SDK classes for policy document creation
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/lambda/AuthorizeHandler.java
  account-data-api/src/test/java/uk/gov/di/authentication/accountdata/lambda/AuthorizeHandlerTest.java
Due: deprecation-checker

ATO-2489: Reference secret for API Key
  template.yaml
Due: none

BAU: Use -r flag when working JQ
  ci/stack-orchestration/deploy-cloudfront.sh
Due: none

AUT-5133: Adding table name helper module to Metric lambda
  ci/cloudformation/utils/parent.yaml
  utils/src/main/java/uk/gov/di/authentication/utils/lambda/AccountMetricPublishHandler.java
  utils/src/main/java/uk/gov/di/authentication/utils/lambda/MFAMethodAnalysisHandler.java
Due: deprecation-checker

AUT-5369: Validate Account Data API scope
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/lambda/AuthorizeHandler.java
  account-data-api/src/test/java/uk/gov/di/authentication/accountdata/helpers/TokenGeneratorHelper.java
  account-data-api/src/test/java/uk/gov/di/authentication/accountdata/lambda/AuthorizeHandlerTest.java
  shared/src/main/java/uk/gov/di/authentication/shared/entity/AccountDataScope.java
Due: deprecation-checker

BAU: Fix netty-codec-dns CVE-2026-42579
  build.gradle
Due: none

AUT-5450: Redis failover notifications
  ci/terraform/account-management/redis.tf
  ci/terraform/account-management/shared.tf
  ci/terraform/shared/redis.tf
  ci/terraform/shared/sns-alerts.tf
Due: none

AUT-5369: Validate issuer claim in Account Data API authorizer
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/lambda/AuthorizeHandler.java
  account-data-api/src/test/java/uk/gov/di/authentication/accountdata/lambda/AuthorizeHandlerTest.java
  ci/cloudformation/account-data/function/authorizer.yaml
  ci/cloudformation/account-data/parent.yaml
Due: deprecation-checker

AUT-5369: Validate notBeforeTime claim in Account Data API authorizer
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/lambda/AuthorizeHandler.java
  account-data-api/src/test/java/uk/gov/di/authentication/accountdata/helpers/TokenGeneratorHelper.java
  account-data-api/src/test/java/uk/gov/di/authentication/accountdata/lambda/AuthorizeHandlerTest.java
Due: deprecation-checker

AUT-5369: Validate audience claim in Account Data API authorizer
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/lambda/AuthorizeHandler.java
  account-data-api/src/test/java/uk/gov/di/authentication/accountdata/helpers/TokenGeneratorHelper.java
  account-data-api/src/test/java/uk/gov/di/authentication/accountdata/lambda/AuthorizeHandlerTest.java
  ci/cloudformation/account-data/function/authorizer.yaml
  ci/cloudformation/account-data/parent.yaml
Due: deprecation-checker

AUT-5369: Validate client_id claim in Account Data API authorizer
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/lambda/AuthorizeHandler.java
  account-data-api/src/test/java/uk/gov/di/authentication/accountdata/lambda/AuthorizeHandlerTest.java
  ci/cloudformation/account-data/function/authorizer.yaml
  ci/cloudformation/account-data/parent.yaml
Due: deprecation-checker

BAU: Refactor AuthorizeHandler validation to Optional filter chain
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/lambda/AuthorizeHandler.java
Due: deprecation-checker

BAU: Replace project.buildDir with layout API
  build.gradle
  doc-checking-app-api/build.gradle
  frontend-api/build.gradle
  ipv-api/build.gradle
  oidc-api/build.gradle
Due: none

BAU: Replace project.exec with ExecOperations
  build.gradle
Due: none

BAU: Upgrade Gradle wrapper to 9.5.0
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: none

BAU: Update plugins for Gradle 9 compatibility
  doc-checking-app-api/build.gradle
  frontend-api/build.gradle
  gradle/libs.versions.toml
  integration-tests/build.gradle
  ipv-api/build.gradle
  oidc-api/build.gradle
Due: none

BAU: Replace VersionNumber and lenientConfiguration
  build.gradle
Due: none

BAU: Upgrade google-java-format to 1.35.0
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/lambda/PasskeysCreateHandler.java
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/lambda/PasskeysDeleteHandler.java
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/lambda/PasskeysRetrieveHandler.java
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/lambda/PasskeysUpdateHandler.java
  account-management-api/src/main/java/uk/gov/di/accountmanagement/lambda/MFAMethodsCreateHandler.java
  account-management-api/src/main/java/uk/gov/di/accountmanagement/lambda/MFAMethodsDeleteHandler.java
  account-management-api/src/main/java/uk/gov/di/accountmanagement/lambda/MFAMethodsPutHandler.java
  account-management-api/src/main/java/uk/gov/di/accountmanagement/lambda/MFAMethodsRetrieveHandler.java
  account-management-api/src/main/java/uk/gov/di/accountmanagement/lambda/NotificationHandler.java
  account-management-api/src/main/java/uk/gov/di/accountmanagement/services/MfaMethodsMigrationService.java
  build.gradle
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/entity/amc/AMCJourneyType.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/entity/mfa/MfaMethodResponse.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/errormapper/AMCFailureHttpMapper.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/errormapper/ForbiddenReasonErrorMapper.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/AccountInterventionsHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/FinishPasskeyAssertionHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/LoginHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/NotificationHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/ResetPasswordRequestHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/SendNotificationHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/StartHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/VerifyCodeHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/validation/MfaCodeProcessorFactory.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/CheckReAuthUserHandlerTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/FinishPasskeyAssertionHandlerTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/LoginHandlerReauthenticationUsingAuthenticationAttemptsServiceTest.java
  integration-tests/src/test/java/uk/gov/di/authentication/api/StartPasskeyAssertionHandlerIntegrationTest.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/mfa/MFAMethodsService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/AccountDataApiServiceTest.java
  user-permissions/src/main/java/uk/gov/di/authentication/userpermissions/PermissionDecisionManager.java
  utils/src/main/java/uk/gov/di/authentication/utils/lambda/BulkUserEmailSenderScheduledEventHandler.java
  utils/src/main/java/uk/gov/di/authentication/utils/services/audienceloader/InternationalNumbersForcedMfaResetBulkEmailAudienceLoader.java
Due: deprecation-checker

BAU: Replace deprecated new URL(String) constructor
  account-data-api/src/test/java/uk/gov/di/authentication/accountdata/services/RemoteJwksServiceTest.java
  client-registry-api/src/main/java/uk/gov/di/authentication/clientregistry/services/ClientConfigValidationService.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/IPVReverificationServiceTest.java
  integration-tests/src/test/java/uk/gov/di/orchestration/shared/services/JwksCacheServiceIntegrationTest.java
  ipv-api/src/test/java/uk/gov/di/authentication/ipv/services/IPVAuthorisationServiceTest.java
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/FetchJwksHandler.java
  oidc-api/src/test/java/uk/gov/di/authentication/oidc/lambda/FetchJwksHandlerTest.java
  orchestration-shared-test/src/main/java/uk/gov/di/orchestration/sharedtest/extensions/JwksCacheExtension.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/ClientSignatureValidationService.java
  orchestration-shared/src/test/java/uk/gov/di/orchestration/shared/services/JwksCacheServiceTest.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/ConfigurationService.java
Due: deprecation-checker

BAU: Configure Java 25 toolchain
  account-data-api/build.gradle
  account-management-api/build.gradle
  audit-events/build.gradle
  auth-external-api/build.gradle
  build.gradle
  client-registry-api/build.gradle
  delivery-receipts-api/build.gradle
  doc-checking-app-api/build.gradle
  frontend-api/build.gradle
  interventions-api-stub/build.gradle
  ipv-api/build.gradle
  local-running/build.gradle
  oidc-api/build.gradle
  orchestration-local-running/build.gradle
  orchestration-shared-test/build.gradle
  orchestration-shared/build.gradle
  settings.gradle
  shared-test/build.gradle
  shared/build.gradle
  test-services-api/build.gradle
  ticf-cri-stub/build.gradle
  user-permissions/build.gradle
  utils/build.gradle
Due: none

BAU: Regenerate terraform-docs READMEs
  ci/terraform/modules/api-gateway/README.md
  ci/terraform/modules/dashboards/README.md
  ci/terraform/modules/dns/README.md
  ci/terraform/modules/endpoint-lambda/README.md
  ci/terraform/modules/endpoint-module-v2/README.md
  ci/terraform/modules/is-this-the-primary-environment/README.md
  ci/terraform/modules/lambda-role/README.md
  ci/terraform/modules/private-api-gateway/README.md
  ci/terraform/modules/public-api-gateway/README.md
  ci/terraform/modules/txma-audit-queue/README.md
Due: none

BAU: Update CI workflows to use Java 25
  .github/workflows/contract-tests.yml
  .github/workflows/dependency-review-on-pr.yml
  .github/workflows/dependency-submission.yml
  .github/workflows/deploy-api-account-data-sp.yml
  .github/workflows/deploy-api-account-management-sp.yml
  .github/workflows/deploy-api-auth-sp.yml
  .github/workflows/deploy-api-modules-dev.yml
  .github/workflows/deploy-api-modules.yml
  .github/workflows/deploy-api-stubs-sp.yml
  .github/workflows/deploy-api-utils-sp.yml
  .github/workflows/deploy-auth-api-combined-dev-sp.yml
  .github/workflows/deploy-orch-dev-test.yml
  .github/workflows/deploy-orch.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pre-merge-checks.yml
  .github/workflows/sonar-analysis-on-merge.yml
Due: none

BAU: Bump tflint-ruleset-aws to 0.47.0
  .tflint.hcl
Due: none

BAU: Update Lambda runtime and Docker images to Java 25
  ci/cloudformation/account-data/parent.yaml
  ci/cloudformation/account-management/function/authorizer.yaml
  ci/cloudformation/account-management/parent.yaml
  ci/cloudformation/auth/parent.yaml
  ci/cloudformation/stubs/parent.yaml
  ci/cloudformation/utils/parent.yaml
  ci/terraform/account-management/.terraform.lock.hcl
  ci/terraform/account-management/authorizer.tf
  ci/terraform/account-management/sqs.tf
  ci/terraform/modules/api-gateway/.terraform.lock.hcl
  ci/terraform/modules/dashboards/.terraform.lock.hcl
  ci/terraform/modules/dns/.terraform.lock.hcl
  ci/terraform/modules/endpoint-lambda/.terraform.lock.hcl
  ci/terraform/modules/endpoint-lambda/variables.tf
  ci/terraform/modules/endpoint-module-v2/.terraform.lock.hcl
  ci/terraform/modules/endpoint-module-v2/variables.tf
  ci/terraform/modules/lambda-role/.terraform.lock.hcl
  ci/terraform/modules/private-api-gateway/.terraform.lock.hcl
  ci/terraform/modules/public-api-gateway/.terraform.lock.hcl
  ci/terraform/modules/txma-audit-queue/.terraform.lock.hcl
  ci/terraform/oidc/.terraform.lock.hcl
  ci/terraform/oidc/backchannel-logout-request.tf
  ci/terraform/oidc/spot-response.tf
  ci/terraform/oidc/sqs.tf
  ci/terraform/oidc/ticf-cri.tf
  ci/terraform/shared/.terraform.lock.hcl
  ci/terraform/test-services/.terraform.lock.hcl
  ci/terraform/utils/.terraform.lock.hcl
  ci/terraform/utils/account_metrics_lambda.tf
  ci/terraform/utils/bulk_test_user_create_lambda.tf
  ci/terraform/utils/bulk_test_user_delete_lambda.tf
  ci/terraform/utils/bulk_user_email_audience_loader_lambda.tf
  ci/terraform/utils/bulk_user_email_send_lambda.tf
  ci/terraform/utils/common_passwords_update_lambda.tf
  ci/terraform/utils/international_send_count_delete_lambda.tf
  ci/terraform/utils/mfa_method_analysis_lambda.tf
  ci/terraform/versions.tf
  local-running/Dockerfile
  orchestration-local-running/Dockerfile
  template.yaml
Due: tfupdate-lock

BAU: Use try-with-resources for ExecutorService
  utils/src/main/java/uk/gov/di/authentication/utils/lambda/BulkUserEmailSenderScheduledEventHandler.java
Due: deprecation-checker

BAU: Remove unused method
  shared/src/main/java/uk/gov/di/authentication/shared/services/TokenValidationService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/TokenValidationServiceTest.java
Due: deprecation-checker

BAU: Inline a helper function
  shared/src/main/java/uk/gov/di/authentication/shared/services/TokenValidationService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/TokenValidationServiceTest.java
Due: deprecation-checker

BAU: Move token validation service to account management
  account-management-api/src/main/java/uk/gov/di/accountmanagement/lambda/AuthoriseAccessTokenHandler.java
  account-management-api/src/main/java/uk/gov/di/accountmanagement/services/TokenValidationService.java
  account-management-api/src/test/java/uk/gov/di/accountmanagement/lambda/AuthoriseAccessTokenHandlerTest.java
  account-management-api/src/test/java/uk/gov/di/accountmanagement/services/TokenValidationServiceTest.java
Due: deprecation-checker

BAU: Remove another unused method
  shared/src/main/java/uk/gov/di/authentication/shared/services/TokenValidationService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/TokenValidationServiceTest.java
Due: deprecation-checker

BAU: Remove unused methods and fields from Token Generator Helper
  shared-test/src/main/java/uk/gov/di/authentication/sharedtest/helper/TokenGeneratorHelper.java
Due: deprecation-checker

AUT-5133: Disable the lambda Events Scheduled rules
  ci/cloudformation/utils/function/bulk-user-email-audience-loader.yaml
  ci/cloudformation/utils/function/bulk-user-email-send.yaml
  ci/cloudformation/utils/parent.yaml
Due: none

AUT-4577: Return updated count from CodeStorageService increment methods
  shared/src/main/java/uk/gov/di/authentication/shared/services/CodeStorageService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/CodeStorageServiceTest.java
Due: deprecation-checker

AUT-4577: Move pre-validation lockout check to PermissionDecisionManager
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/VerifyMfaCodeHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/validation/AuthAppCodeProcessor.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/validation/PhoneNumberCodeProcessor.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/VerifyMfaCodeHandlerTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/validation/AuthAppCodeProcessorTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/validation/PhoneNumberCodeProcessorTest.java
Due: deprecation-checker

Path conditions:
  tfupdate-lock: any of: /versions.tf$, but not: (?x)^(
    .*/test/.*/.*\.approved.json|
    .*/docs(/.*)?$|
    .*/standards(/.*)?$
)$

  deprecation-checker: any of: \.java$, but not: (?x)^(
    .*/test/.*/.*\.approved.json|
    .*/docs(/.*)?$|
    .*/standards(/.*)?$
)$

