Repository govuk-one-login/authentication-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: tfupdate-lock, deprecation-checker

tfupdate-lock:
  name: Update terraform provider locks
  pass_filenames: false
  language: golang
  additional_dependencies:
  - github.com/minamijoyo/tfupdate@v0.8.5
  entry: tfupdate lock
  args:
  - --platform
  - linux_amd64
  - --platform
  - linux_arm64
  - --platform
  - darwin_amd64
  - --platform
  - darwin_arm64
  - --platform
  ...

deprecation-checker:
  name: Check deprecation policy
  entry: ./gradlew :deprecation-checker:checkDeprecations
  language: system
  pass_filenames: false

BAU: Update integration test to use json
  account-management-integration-tests/src/test/java/uk/gov/di/accountmanagement/api/SendOtpNotificationIntegrationTest.java
Due: deprecation-checker

BAU: remove role path as SAM pipeline doesn't allow role path
  ci/cloudformation/account-management/parent.yaml
Due: none

ATO-2058 turn on SnapStart for Logout lambda
  template.yaml
Due: none

AUT-5271: Add infra changes for the ad-jwks endpoint
  ci/cloudformation/auth/function/ad-jwks.yaml
  ci/openAPI/AuthInternalApi.yaml
Due: none

AUT-5271: Add ADJWKSHandler
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/ADJWKSHandler.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/ADJWKSHandlerTest.java
  integration-tests/src/test/java/uk/gov/di/authentication/api/ADJWKSHandlerIntegrationTest.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/ConfigurationService.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/JwksService.java
Due: deprecation-checker

AUT-5271: Refactor to use different signing keys for the access tokens in AMCAuthorizeHandler
  ci/cloudformation/auth/function/amc-authorize.yaml
  ci/cloudformation/auth/function/amc-jwks.yaml
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/entity/amc/AMCJourneyType.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/entity/amc/AccessTokenConfig.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/ADJWKSHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/AMCJWKSHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/services/AMCService.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/AMCJWKSHandlerTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/AMCServiceTest.java
  integration-tests/src/test/java/uk/gov/di/authentication/api/AMCAuthorizeHandlerIntegrationTest.java
  integration-tests/src/test/java/uk/gov/di/authentication/api/AMCJWKSHandlerIntegrationTest.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/ConfigurationService.java
Due: deprecation-checker

AUT-5271: Fix permissions for the jwks endpoints to GetObjects from the relevant s3 buckets
  ci/cloudformation/auth/api/auth-internal-api.yaml
  ci/openAPI/AuthInternalApi.yaml
Due: none

ATO-2174: remove calls to old spot queue
  ipv-api/src/main/java/uk/gov/di/authentication/ipv/helpers/IPVCallbackHelper.java
  ipv-api/src/test/java/uk/gov/di/authentication/ipv/helpers/IPVCallbackHelperTest.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/ConfigurationService.java
  template.yaml
Due: deprecation-checker

ATO-2468: add old token signing public keys to template so they can be removed from authentication's AWS account while still being supported for reauth
  template.yaml
Due: none

ATO-2174: remove reference to old spot queue in tests
  integration-tests/src/test/java/uk/gov/di/orchestration/app/lambda/DocAppCallbackHandlerIntegrationTest.java
  integration-tests/src/test/java/uk/gov/di/orchestration/ipv/lambda/IPVCallbackHandlerIntegrationTest.java
  integration-tests/src/test/java/uk/gov/di/orchestration/ipv/lambda/IPVCapacityHandlerIntegrationTest.java
  integration-tests/src/test/java/uk/gov/di/orchestration/ipv/lambda/IpvJwksHandlerIntegrationTest.java
  integration-tests/src/test/java/uk/gov/di/orchestration/oidc/lambda/AuthJwksHandlerIntegrationTest.java
  integration-tests/src/test/java/uk/gov/di/orchestration/oidc/lambda/AuthenticationCallbackHandlerIntegrationTest.java
  integration-tests/src/test/java/uk/gov/di/orchestration/oidc/lambda/AuthorisationIntegrationTest.java
  integration-tests/src/test/java/uk/gov/di/orchestration/oidc/lambda/JwksIntegrationTest.java
  integration-tests/src/test/java/uk/gov/di/orchestration/oidc/lambda/OrchestrationToAuthenticationAuthorizeIntegrationTest.java
  integration-tests/src/test/java/uk/gov/di/orchestration/oidc/lambda/StorageTokenJwkIntegrationTest.java
  integration-tests/src/test/java/uk/gov/di/orchestration/oidc/lambda/TokenIntegrationTest.java
  integration-tests/src/test/java/uk/gov/di/orchestration/oidc/lambda/UserInfoIntegrationTest.java
  ipv-api/src/test/java/uk/gov/di/authentication/ipv/helpers/IPVCallbackHelperTest.java
  orchestration-shared-test/src/main/java/uk/gov/di/orchestration/sharedtest/basetest/IntegrationTest.java
Due: deprecation-checker

ATO-2174: remove the old spot terraform
  ci/terraform/oidc/spot-sqs.tf
Due: none

AUT-5352: Delete delivery recipt terraform config from repo
  .github/workflows/call_terraform_validate.yml
  .github/workflows/deploy-api-modules-dev.yml
  .github/workflows/deploy-api-modules.yml
  ci/terraform/delivery-receipts/.terraform.lock.hcl
  ci/terraform/delivery-receipts/api-gateway.tf
  ci/terraform/delivery-receipts/authdev1.hcl
  ci/terraform/delivery-receipts/authdev1.tfvars
  ci/terraform/delivery-receipts/authdev2.hcl
  ci/terraform/delivery-receipts/authdev2.tfvars
  ci/terraform/delivery-receipts/authdev3.hcl
  ci/terraform/delivery-receipts/authdev3.tfvars
  ci/terraform/delivery-receipts/build.tfvars
  ci/terraform/delivery-receipts/core.tf
  ci/terraform/delivery-receipts/delivery-receipts-dynamo-access.tf
  ci/terraform/delivery-receipts/dev.tfvars
  ci/terraform/delivery-receipts/dynatrace.tf
  ci/terraform/delivery-receipts/integration.tfvars
  ci/terraform/delivery-receipts/notify-callback.tf
  ci/terraform/delivery-receipts/outputs.tf
  ci/terraform/delivery-receipts/production.tfvars
  ci/terraform/delivery-receipts/s3-objects.tf
  ci/terraform/delivery-receipts/sandpit.hcl
  ci/terraform/delivery-receipts/sandpit.tfvars
  ci/terraform/delivery-receipts/shared.tf
  ci/terraform/delivery-receipts/site.tf
  ci/terraform/delivery-receipts/ssm.tf
  ci/terraform/delivery-receipts/staging.tfvars
  ci/terraform/delivery-receipts/variables.tf
  ci/terraform/delivery-receipts/versions.tf
  delivery-receipts-api/build.gradle
  deploy-dev.sh
Due: tfupdate-lock

AUT-5352: Delete delivery recipt terraform config from repo
  .github/workflows/checkov.yml
Due: none

test
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/serialization/ECKeyAdapter.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/serialization/Json.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/serialization/LocalDateTimeAdapter.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/serialization/RSAKeyAdapter.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/ConfigurationService.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/JwksService.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/SerializationService.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/TokenValidationService.java
  orchestration-shared/src/test/java/uk/gov/di/orchestration/shared/services/SerializationServiceTest.java
  orchestration-shared/src/test/java/uk/gov/di/orchestration/shared/services/TokenValidationServiceTest.java
  template.yaml
Due: deprecation-checker

BAU: Add reauth exp log Check which RPs are sending us reauth id tokens that are past their expiry
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/services/AuthenticationAuthorizationService.java
Due: deprecation-checker

BAU: add missing AMC_JWKS_URL to fix local running
  local-running/.env.local
Due: none

ATO-2174: remove old spot queue url env
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/ConfigurationService.java
  template.yaml
Due: deprecation-checker

AUT-5323: Add environment variables for ADAPI
  ci/cloudformation/account-management/function/passkeys-delete-proxy.yaml
  ci/cloudformation/account-management/function/passkeys-retrieve-proxy.yaml
  ci/cloudformation/account-management/parent.yaml
  ci/cloudformation/auth/parent.yaml
  shared/src/main/java/uk/gov/di/authentication/shared/services/ConfigurationService.java
Due: deprecation-checker

AUT-5323: Proxy the retrieve passkeys endpoint
  account-management-api/src/main/java/uk/gov/di/accountmanagement/lambda/PasskeysRetrieveProxyHandler.java
  account-management-api/src/test/java/uk/gov/di/accountmanagement/lambda/PasskeysRetrieveProxyHandlerTest.java
  account-management-integration-tests/src/test/java/uk/gov/di/accountmanagement/api/PasskeysRetrieveProxyHandlerIntegrationTest.java
Due: deprecation-checker

AUT-5323: Build AccountDataApiService to handle httpClient requests
  shared/src/main/java/uk/gov/di/authentication/shared/exceptions/UnsuccessfulAccountDataApiResponseException.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/AccountDataApiService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/AccountDataApiServiceTest.java
Due: deprecation-checker

AUT-5323: Install WireMock into AMAPI integration tests
  account-management-integration-tests/build.gradle
Due: none

AUT-5323: Proxy the delete passkey endpoint
  account-management-api/src/main/java/uk/gov/di/accountmanagement/lambda/PasskeysDeleteProxyHandler.java
  account-management-api/src/test/java/uk/gov/di/accountmanagement/lambda/PasskeysDeleteProxyHandlerTest.java
  account-management-integration-tests/src/test/java/uk/gov/di/accountmanagement/api/PasskeysDeleteProxyHandlerIntegrationTest.java
Due: deprecation-checker

ATO-2469: remove storing old RSA keys as they are currently not supported for reauth (which will be fixed in a separate tech debt ticket) so currently is not used
  template.yaml
Due: none

ATO-2469: add old stored public keys feature flags and configuration
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/ConfigurationService.java
  template.yaml
Due: deprecation-checker

ATO-2469: add Gson adapter to be able to support serialization/deserialization of ECKeys
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/serialization/ECKeyAdapter.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/serialization/Json.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/SerializationService.java
  orchestration-shared/src/test/java/uk/gov/di/orchestration/shared/services/SerializationServiceTest.java
Due: deprecation-checker

BAU: Add the AUTH_TO_ACCOUNT_DATA_SIGNING_KEY to AMCAuthorizeHandler
  ci/cloudformation/auth/function/amc-authorize.yaml
Due: none

AUT-4727: Remove Sandpit deployment Terraform and scripts
  .github/PULL_REQUEST_TEMPLATE/auth_template.md
  .github/PULL_REQUEST_TEMPLATE/orch_template.md
  ci/terraform/account-management/authdev1.tfvars
  ci/terraform/account-management/authdev2.tfvars
  ci/terraform/account-management/authdev3.tfvars
  ci/terraform/account-management/dns.tf
  ci/terraform/account-management/mm-api-dev-access.tf
  ci/terraform/account-management/sandpit.hcl
  ci/terraform/account-management/sandpit.tfvars
  ci/terraform/account-management/site.tf
  ci/terraform/modules/dns/README.md
  ci/terraform/modules/dns/dns.tf
  ci/terraform/modules/dns/variables.tf
  ci/terraform/oidc/api-gateway.tf
  ci/terraform/oidc/authdev1.tfvars
  ci/terraform/oidc/authdev2.tfvars
  ci/terraform/oidc/dns.tf
  ci/terraform/oidc/sandpit.hcl
  ci/terraform/oidc/sandpit.tfvars
  ci/terraform/oidc/site.tf
  ci/terraform/oidc/ssm.tf
  ci/terraform/shared/dns.tf
  ci/terraform/shared/sandpit.hcl
  ci/terraform/shared/sandpit.tfvars
  ci/terraform/shared/variables.tf
  ci/terraform/test-services/sandpit.hcl
  ci/terraform/test-services/sandpit.tfvars
  ci/terraform/utils/authdev1.tfvars
  ci/terraform/utils/authdev2.tfvars
  ci/terraform/utils/sandpit.hcl
  ci/terraform/utils/sandpit.tfvars
  delivery-receipts-api/README.md
  deploy-dev.sh
  deploy-sandpit.sh
  http/http-client.env.json
  pre-commit.sh
  scripts/create_update_sandpit_secret.sh
  scripts/export-ics.sh
  scripts/export_aws_creds.sh
  scripts/fix-lambda-aliases.sh
Due: none

AUT-4727: Updated the auth PR template to remove sandpit refrence
  .github/PULL_REQUEST_TEMPLATE/auth_template.md
Due: none

ATO-2469: allow validation of old stored EC public keys
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/services/AuthenticationAuthorizationService.java
  oidc-api/src/test/java/uk/gov/di/authentication/oidc/services/AuthenticationAuthorizationServiceTest.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/JwksService.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/TokenValidationService.java
  orchestration-shared/src/test/java/uk/gov/di/orchestration/shared/services/TokenValidationServiceTest.java
Due: deprecation-checker

ATO-2059 add SnapStart to TokenLambda
  template.yaml
Due: none

BAU: Fix upper bound in six-digit code generation
  shared/src/main/java/uk/gov/di/authentication/shared/services/CodeGeneratorService.java
Due: deprecation-checker

BAU: Fix lower bound and simplify TOTP validation
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/validation/AuthAppCodeProcessor.java
Due: deprecation-checker

BAU: Update send notification request to be a record
  account-management-api/src/main/java/uk/gov/di/accountmanagement/entity/SendNotificationRequest.java
  account-management-api/src/main/java/uk/gov/di/accountmanagement/lambda/SendOtpNotificationHandler.java
Due: deprecation-checker

AUT-5307: Increase the bulk email send rate
  ci/terraform/utils/production.tfvars
Due: none

WIP: Imposter Stub first generated iteration
  stubs/api/imposter/.imposter.yaml
  stubs/api/imposter/README.md
  stubs/api/imposter/docker-compose.imposter.yml
  stubs/api/imposter/openapi-plugin-config.yaml
  stubs/api/imposter/responses/account-interventions-200.json
  stubs/api/imposter/responses/account-recovery-200.json
  stubs/api/imposter/responses/amc-authorize-200.json
  stubs/api/imposter/responses/amc-callback-200.json
  stubs/api/imposter/responses/check-email-fraud-block-200.json
  stubs/api/imposter/responses/finish-passkey-assertion-200.json
  stubs/api/imposter/responses/id-reverification-state-200.json
  stubs/api/imposter/responses/jwks-200.json
  stubs/api/imposter/responses/login-200.json
  stubs/api/imposter/responses/mfa-reset-authorize-200.json
  stubs/api/imposter/responses/orch-auth-code-200.json
  stubs/api/imposter/responses/processing-identity-200.json
  stubs/api/imposter/responses/reset-password-request-200.json
  stubs/api/imposter/responses/reverification-result-200.json
  stubs/api/imposter/responses/signup-200.json
  stubs/api/imposter/responses/start-200.json
  stubs/api/imposter/responses/start-passkey-assertion-200.json
  stubs/api/imposter/responses/token-200.json
  stubs/api/imposter/responses/user-exists-200.json
  stubs/api/imposter/responses/userinfo-200.json
  stubs/api/imposter/rest-plugin-config.yaml
Due: none

ATO-2258: Add hosted zone template for orchestration
  ci/stack-orchestration/manual-stacks/domains/template.yaml
Due: none

BAU: Add the AUTH_TO_ACCOUNT_DATA_SIGNING_KEY to amc-authorize.yaml
  ci/cloudformation/auth/function/amc-authorize.yaml
Due: none

BAU: Add permissions to use the AuthToAccountDataSigningKey
  ci/cloudformation/auth/function/amc-authorize.yaml
Due: none

Path conditions:
  tfupdate-lock: any of: /versions.tf$, but not: (?x)^(
    .*/test/.*/.*\.approved.json|
    .*/docs(/.*)?$|
    .*/standards(/.*)?$
)$

  deprecation-checker: any of: \.java$, but not: (?x)^(
    .*/test/.*/.*\.approved.json|
    .*/docs(/.*)?$|
    .*/standards(/.*)?$
)$

