Repository govuk-one-login/authentication-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: tfupdate-lock, deprecation-checker

Path conditions:
  tfupdate-lock: any of: /versions.tf$, but not: (?x)^(
    .*/test/.*/.*\.approved.json|
    .*/docs(/.*)?$|
    .*/standards(/.*)?$
)$

  deprecation-checker: any of: \.java$, but not: (?x)^(
    .*/test/.*/.*\.approved.json|
    .*/docs(/.*)?$|
    .*/standards(/.*)?$
)$


AUT-5247: Refactor AMCServiceTest to mock JwtService
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/AMCServiceTest.java
Due: deprecation-checker

AUT-5247: Add kid to JWS header by resolving KMS key alias to actual key ID
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/services/JwtService.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/JwtServiceTest.java
Due: deprecation-checker

AUT-5263: Delete ticf-cri-stub terraform config from repo
  .github/workflows/call_terraform_validate.yml
  .github/workflows/deploy-api-modules-dev.yml
  .github/workflows/deploy-api-modules.yml
  ci/terraform/ticf-cri-stub/.terraform.lock.hcl
  ci/terraform/ticf-cri-stub/authdev1.hcl
  ci/terraform/ticf-cri-stub/authdev1.tfvars
  ci/terraform/ticf-cri-stub/authdev2.hcl
  ci/terraform/ticf-cri-stub/authdev2.tfvars
  ci/terraform/ticf-cri-stub/authdev3.hcl
  ci/terraform/ticf-cri-stub/authdev3.tfvars
  ci/terraform/ticf-cri-stub/build.tfvars
  ci/terraform/ticf-cri-stub/dev.tfvars
  ci/terraform/ticf-cri-stub/dynamodb.tf
  ci/terraform/ticf-cri-stub/dynatrace.tf
  ci/terraform/ticf-cri-stub/lambda.tf
  ci/terraform/ticf-cri-stub/s3-objects.tf
  ci/terraform/ticf-cri-stub/sandpit.hcl
  ci/terraform/ticf-cri-stub/sandpit.tfvars
  ci/terraform/ticf-cri-stub/shared.tf
  ci/terraform/ticf-cri-stub/site.tf
  ci/terraform/ticf-cri-stub/ticf-cri-stub-gateway.tf
  ci/terraform/ticf-cri-stub/variables.tf
  ci/terraform/ticf-cri-stub/versions.tf
  ticf-cri-stub/build.gradle
Due: tfupdate-lock

BAU: Stop mocking auth session item
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/AMCServiceTest.java
Due: deprecation-checker

BAU: Use some common test variables to reduce test noise
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/AMCServiceTest.java
Due: deprecation-checker

AUT-5263: Delete interventions-api-stub terraform config from repo
  .github/workflows/call_terraform_validate.yml
  .github/workflows/deploy-api-modules-dev.yml
  .github/workflows/deploy-api-modules.yml
  ci/terraform/interventions-api-stub/.terraform.lock.hcl
  ci/terraform/interventions-api-stub/acceptance-test-values.tf
  ci/terraform/interventions-api-stub/authdev1.hcl
  ci/terraform/interventions-api-stub/authdev1.tfvars
  ci/terraform/interventions-api-stub/authdev2.hcl
  ci/terraform/interventions-api-stub/authdev2.tfvars
  ci/terraform/interventions-api-stub/authdev3.hcl
  ci/terraform/interventions-api-stub/authdev3.tfvars
  ci/terraform/interventions-api-stub/build.tfvars
  ci/terraform/interventions-api-stub/dev.tfvars
  ci/terraform/interventions-api-stub/dynamodb.tf
  ci/terraform/interventions-api-stub/dynatrace.tf
  ci/terraform/interventions-api-stub/interventions-api-stub-gateway.tf
  ci/terraform/interventions-api-stub/lambda.tf
  ci/terraform/interventions-api-stub/s3-objects.tf
  ci/terraform/interventions-api-stub/sandpit.hcl
  ci/terraform/interventions-api-stub/sandpit.tfvars
  ci/terraform/interventions-api-stub/shared.tf
  ci/terraform/interventions-api-stub/site.tf
  ci/terraform/interventions-api-stub/variables.tf
  ci/terraform/interventions-api-stub/versions.tf
  interventions-api-stub/build.gradle
Due: tfupdate-lock

BAU: Stop mocking the now clock
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/AMCServiceTest.java
Due: deprecation-checker

BAU: Stop calling setup method in every test
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/AMCServiceTest.java
Due: deprecation-checker

BAU: Extract helper method for test to make test more readable
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/AMCServiceTest.java
Due: deprecation-checker

AUT-5263: Update Local TF deploy script to remove option to deploy Stubs TF
  deploy-dev.sh
Due: none

BAU: Condense jwt encryption test cases into single parametrized test
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/AMCServiceTest.java
Due: deprecation-checker

BAU: Refactor to extract common key setup to common test setup
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/AMCServiceTest.java
Due: deprecation-checker

BAU: Move second happy path test case to the top
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/AMCServiceTest.java
Due: deprecation-checker

BAU: Group tests for jwt signing errors
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/AMCServiceTest.java
Due: deprecation-checker

BAU: Extract some common setup from the journey outcome tests
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/AMCServiceTest.java
Due: deprecation-checker

AUT-5526: Remove redundant resources in the strategic AM API
  ci/cloudformation/account-management/function/authenticate.yaml
  ci/cloudformation/account-management/function/authorizer.yaml
  ci/cloudformation/account-management/function/delete-account.yaml
  ci/cloudformation/account-management/function/mfa-methods-create.yaml
  ci/cloudformation/account-management/function/mfa-methods-delete.yaml
  ci/cloudformation/account-management/function/mfa-methods-retrieve.yaml
  ci/cloudformation/account-management/function/mfa-methods-update.yaml
  ci/cloudformation/account-management/function/notification-handler.yaml
  ci/cloudformation/account-management/function/send-otp-notification.yaml
  ci/cloudformation/account-management/function/update-email.yaml
  ci/cloudformation/account-management/function/update-password.yaml
  ci/cloudformation/account-management/function/update-phone-number.yaml
Due: none

AUT-5263: remove stub account intevention table data read
  ci/cloudformation/stubs/api/account-interventions-stub.yaml
  ci/cloudformation/stubs/parent.yaml
  ci/terraform/shared/iam.tf
Due: none

AUT-5225: Delete Auth ext Api TF config from repo
  .github/workflows/call_terraform_validate.yml
  .github/workflows/deploy-api-modules-dev.yml
  .github/workflows/deploy-api-modules.yml
  auth-external-api/build.gradle
  ci/terraform/auth-external-api/.terraform.lock.hcl
  ci/terraform/auth-external-api/audit.tf
  ci/terraform/auth-external-api/auth-ext-api-gateway.tf
  ci/terraform/auth-external-api/build.tfvars
  ci/terraform/auth-external-api/dynamo-policies.tf
  ci/terraform/auth-external-api/dynatrace.tf
  ci/terraform/auth-external-api/events.tf
  ci/terraform/auth-external-api/integration.tfvars
  ci/terraform/auth-external-api/kms-policies.tf
  ci/terraform/auth-external-api/outputs.tf
  ci/terraform/auth-external-api/production.tfvars
  ci/terraform/auth-external-api/read_secrets.sh
  ci/terraform/auth-external-api/s3-objects.tf
  ci/terraform/auth-external-api/sandpit.hcl
  ci/terraform/auth-external-api/sandpit.tfvars
  ci/terraform/auth-external-api/shared.tf
  ci/terraform/auth-external-api/site.tf
  ci/terraform/auth-external-api/ssm.tf
  ci/terraform/auth-external-api/staging.tfvars
  ci/terraform/auth-external-api/token.tf
  ci/terraform/auth-external-api/userinfo.tf
  ci/terraform/auth-external-api/variables.tf
  ci/terraform/auth-external-api/versions.tf
Due: tfupdate-lock

BAU: Update build secret version
  template.yaml
Due: none

BAU: fix build failure realted to auth ext api deletion
  ci/terraform/oidc/authentication-callback.tf
  ci/terraform/oidc/shared.tf
Due: none

AUT-4789: Add hasVerifiedPassword and hasVerifiedMfa to the AuthSessionItem
  shared/src/main/java/uk/gov/di/authentication/shared/entity/AuthSessionItem.java
Due: deprecation-checker

AUT-4789: Set 'true' flag when MFAs/password received
  user-permissions/src/main/java/uk/gov/di/authentication/userpermissions/UserActions.java
  user-permissions/src/main/java/uk/gov/di/authentication/userpermissions/UserActionsManager.java
  user-permissions/src/test/java/uk/gov/di/authentication/userpermissions/UserActionsManagerTest.java
  user-permissions/src/test/java/uk/gov/di/authentication/userpermissions/UserActionsTest.java
Due: deprecation-checker

AUT-4789: Add canIssueAuthCode method
  user-permissions/src/main/java/uk/gov/di/authentication/userpermissions/PermissionDecisionManager.java
  user-permissions/src/main/java/uk/gov/di/authentication/userpermissions/PermissionDecisions.java
  user-permissions/src/test/java/uk/gov/di/authentication/userpermissions/PermissionDecisionManagerTest.java
  user-permissions/src/test/java/uk/gov/di/authentication/userpermissions/PermissionDecisionsTest.java
Due: deprecation-checker

AUT-4789: Create ENHANCED_AUTH_CODE_PROTECTION_ENABLED envvar to restrict enforcement
  ci/cloudformation/auth/function/orch-auth-code.yaml
  ci/cloudformation/auth/parent.yaml
  shared/src/main/java/uk/gov/di/authentication/shared/services/ConfigurationService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/ConfigurationServiceTest.java
Due: deprecation-checker

AUT-4789: Check if can issue one before returning an auth code
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/AuthenticationAuthCodeHandler.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/AuthenticationAuthCodeHandlerTest.java
Due: deprecation-checker

AUT-4789: Set hasVerifiedX states to true
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/LoginHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/ResetPasswordHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/SignUpHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/VerifyCodeHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/VerifyMfaCodeHandler.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/LoginHandlerTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/ResetPasswordHandlerTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/SignUpHandlerTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/VerifyCodeHandlerTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/VerifyMfaCodeHandlerTest.java
Due: deprecation-checker

AUT-4789: Remove unused credentialTrustLevels parameterised test
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/VerifyMfaCodeHandlerTest.java
Due: deprecation-checker

AUT-4789: Reset hasVerifiedX states when performing a re-auth journey
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/StartHandler.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/StartHandlerTest.java
Due: deprecation-checker

BAU: Allow CrossAccountRole access to int. SMS send count table
  ci/terraform/shared/iam.tf
Due: none

BAU: Add utils lambdas to the VPC
  ci/terraform/utils/bulk_test_user_create_lambda.tf
  ci/terraform/utils/bulk_test_user_delete_lambda.tf
  ci/terraform/utils/mfa_method_analysis_lambda.tf
Due: none

ATO-2281: Remove feature flags relating to docapp key rotation
  doc-checking-app-api/src/main/java/uk/gov/di/authentication/app/services/DocAppCriService.java
  doc-checking-app-api/src/test/java/uk/gov/di/authentication/app/services/DocAppCriServiceTest.java
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/JwksHandler.java
  oidc-api/src/test/java/uk/gov/di/authentication/oidc/lambda/JwksHandlerTest.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/ConfigurationService.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/DocAppAuthorisationService.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/JwksService.java
  orchestration-shared/src/test/java/uk/gov/di/orchestration/shared/services/DocAppAuthorisationServiceTest.java
  orchestration-shared/src/test/java/uk/gov/di/orchestration/shared/services/JwksServiceTest.java
  template.yaml
Due: deprecation-checker

WIP
  ci/terraform/shared/iam.tf
Due: none

AUT-5169: Refactor DynamoPasskeyService
  account-data-api-integration-tests/src/test/java/uk/gov/di/accountdata/services/DynamoPasskeyServiceIntegrationTest.java
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/helpers/PasskeysTestHelper.java
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/services/DynamoPasskeyService.java
Due: deprecation-checker

AUT-5169: Create PasskeysCreateService
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/entity/passkey/PasskeysCreateFailureReason.java
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/entity/passkey/PasskeysCreateRequest.java
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/entity/passkey/failurereasons/PasskeysCreateServiceFailureReason.java
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/helpers/PasskeysHelper.java
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/services/PasskeysCreateService.java
  account-data-api/src/test/java/uk/gov/di/authentication/accountdata/services/PasskeysCreateServiceTest.java
Due: deprecation-checker

AUT-5205: Add intl send count deletion lambda
  ci/terraform/utils/international_send_count_delete_lambda.tf
  utils/src/main/java/uk/gov/di/authentication/utils/lambda/InternationalSendCountDeleteHandler.java
  utils/src/test/java/uk/gov/di/authentication/utils/lambda/InternationalSendCountDeleteHandlerTest.java
Due: deprecation-checker

ATO-2281: Remove old docapp signing key from cf template
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/JwksHandler.java
  oidc-api/src/test/java/uk/gov/di/authentication/oidc/lambda/JwksHandlerTest.java
  orchestration-shared/src/main/java/uk/gov/di/orchestration/shared/services/JwksService.java
  orchestration-shared/src/test/java/uk/gov/di/orchestration/shared/services/JwksServiceTest.java
  template.yaml
Due: deprecation-checker

AUT-5169: Add missed env vars and improve lambda policies for passkeys lambdas
  ci/cloudformation/account-data/function/passkeys-create.yaml
  ci/cloudformation/account-data/function/passkeys-delete.yaml
  ci/cloudformation/account-data/function/passkeys-retrieve.yaml
  ci/cloudformation/account-data/function/passkeys-update.yaml
  ci/cloudformation/account-data/parent.yaml
Due: none

AUT-5169: Change the PK attribute name to match the dynamo table config
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/entity/Authenticator.java
Due: deprecation-checker

AUT-5169: Add PasskeysCreateHandler
  account-data-api-integration-tests/build.gradle
  account-data-api-integration-tests/src/test/java/uk/gov/di/accountdata/lambda/PasskeysCreateHandlerIntegrationTest.java
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/entity/passkey/PasskeysCreateFailureReason.java
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/entity/passkey/failurereasons/PasskeysCreateHandlerFailureReason.java
  account-data-api/src/main/java/uk/gov/di/authentication/accountdata/lambda/PasskeysCreateHandler.java
  account-data-api/src/test/java/uk/gov/di/authentication/accountdata/lambda/PasskeysCreateHandlerTest.java
  shared-test/src/main/java/uk/gov/di/authentication/sharedtest/basetest/HandlerIntegrationTest.java
  shared/src/main/java/uk/gov/di/authentication/shared/entity/ErrorResponse.java
Due: deprecation-checker

AUT-5169: Add updated AccountDataApi spec
  ci/openAPI/AccountDataApi.yaml
Due: none
